.obj-wrapper{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #63636363 #1f1f1f;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .obj{
    width: 100%;
    height: 10rem;
  }

  button{
    width: 1rem;
    height: 1rem;
    background-color: transparent;

    mat-icon{
      width: 100%;
      height: 100%;
      font-size: 1rem;
    }
  }

  .obj-options-wrapper{
    width: 100%;
    height: calc(100% - 10rem);

    > header{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h4{
        display: flex;
        align-items: center;
      }

      .container-inputs{
        width: 100%;
        height: 100%;
        padding-top: 1rem !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .input-wrapper{
          width: calc(50% - .6rem);
          height: 50%;
          border: 1px solid #5a5959;
          background-color: #515251;

          &:last-child{
            margin-top: .4rem !important;
          }

          header{
            max-height: 1rem;
            padding-left: .2rem !important;
          }

          .infos{
            width: 100%;
            height: calc(100% - 1rem);
            padding-top: .3rem !important;

            ol{
              list-style: inside;
              padding: .2rem 0 0 .2rem !important;
              display: flex;
              flex-direction: column;
              gap: .2rem;

              li{
                font-size: .8rem;
                display: flex;
                gap: .2rem;
                position: relative;
                max-height: 1rem;

                label{
                  cursor: pointer;
                  &.mg-top{
                    margin-top: -1px !important;
                  }
                }

                select{
                  max-width: 90% !important;
                  font-size: .7rem;
                  border: none;
                  padding-left: .1rem !important;
                  font-family: monospace;
                  cursor: pointer;

                  option{
                    font-family: monospace;
                  }
                }

                input{
                  cursor: pointer;
                }

                &.small{
                  font-size: .7rem;
                }

                &::before{
                  content: "•";
                  color: whitesmoke;
                  margin-left: .1rem;
                }
              }
            }
          }
        }
      }
    }
  }

  section{
    width: 100%;
    height: auto;
    padding: 0 0 5rem 0 !important;
    padding-bottom: 1rem;

    header{
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1rem 0 !important;
    }

    > h6{
      padding: .5rem 0 .5rem .3rem !important;
    }

    .select-colors{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;

      .input-color-wrapper{
        width: calc(50% - .5rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #3f3f3f;

        header{
          text-align: center;
          width: 100%;
          padding: .5rem 0 !important;
        }

        .input-color-options{
          width: 100%;
          height: 75%;

          ul{
            list-style-position: inside;

            li{
              display: flex;
              align-items: center;
              padding: .3rem 0 !important;
              gap: .3rem;

              label{
                display: flex;
                gap: .5rem;
                align-items: center;

                input[type=color]{
                  display: none;
                }

                .input-color{
                  width: 3rem;
                  height: .8rem;
                  border: 1px solid white;
                  cursor: pointer;
                }

                select{
                  min-width: 3.7rem !important;
                  height: 1rem;
                  font-size: .6rem;
                  border: none;
                  padding-left: .3rem !important;
                  font-family: monospace;
                  letter-spacing: 0.5px;
                  cursor: pointer;

                  option{
                    font-family: monospace;
                  }
                }
              }

              &::before{
                content: "•";
                color: whitesmoke;
                max-height: .3rem !important;
                margin-left: .2rem !important;
                margin-top: .2rem !important;
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
    }

    .select-textures{
      width: 100%;
      height: 8rem;
      display: flex;
      justify-content: space-around;

      .textures-wrapper{
        width: calc(50% - .5rem);
        background-color: #3f3f3f;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        header{
          padding: .3rem 0 !important;
        }

        .texture-options{
          width: 100%;
          height: calc(100% - 2rem) !important;

          ol{
            list-style-position: inside;

            li{
              display: flex;
              align-items: center;
              padding: .3rem 0 !important;
              gap: .3rem;

              label{
                display: flex;
                gap: .3rem;
                align-items: center;

                select{
                  min-width: 3.7rem !important;
                  height: 1rem;
                  font-size: .6rem;
                  border: none;
                  padding-left: .3rem !important;
                  font-family: monospace;
                  letter-spacing: 0.5px;
                  cursor: pointer;

                  option{
                    font-family: monospace;
                  }
                }


                .texture-view{
                  width: 2.5rem;
                  height: .8rem;
                  border: 1px solid white;
                  cursor: pointer;
                  background-color: #8b8b8b;
                  background-position: center;
                  background-size: cover;
                  background-repeat: no-repeat;
                }
              }

              &::before{
                content: "•";
                color: whitesmoke;
                max-height: .3rem !important;
                margin-left: .2rem !important;
                margin-top: .2rem !important;
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}
